/*------------------------------------------------------------------------------ 

                                CONFIGURATION

------------------------------------------------------------------------------*/

$include-code-classes: true;

//Codes
$code-config:null;
$css-code-config: null;
$html-code-config: null;

//Commands
$command-config: null;





/*------------------------------------------------------------------------------ 

                                   CORE

------------------------------------------------------------------------------*/