/*------------------------------------------------------------------------------ 

                                UTILITY MIXINS

------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------ 

                               DROPDOWN BUTTONS

------------------------------------------------------------------------------*/
/* line 38, ../../../sass/ui/buttons/_core.scss */
.dropdown-button + .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
/* line 45, ../../../sass/ui/buttons/_core.scss */
.dropdown-button + .dropdown-menu .dropdown-menu-item {
  display: block;
}

/*------------------------------------------------------------------------------ 

                               CONFIGURATION

------------------------------------------------------------------------------*/
