
/****************** Active Link Configuration ****************/
$nav-pills-active-link-hover-color:         #fff ;
$nav-pills-spacing:                         0 ;


/****************** Regular Link Configuration ****************/

$nav-pills-anchor-font: $anchor-font;


$nav-pills-link-padding: 0;

$nav-pills-link-border-radius: 0;