@import "compass/css3/";


/*------------------------------------------------------------------------------ 

                                SHADOW CONFIGURATION

------------------------------------------------------------------------------*/
$default-box-shadow-color: color(black);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 1px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

/*------------------------------------------------------------------------------ 

                                      CORE

------------------------------------------------------------------------------*/