//@import 'core';

/*------------------------------------------------------------------------------ 

                               CONFIGURATION

------------------------------------------------------------------------------*/
$include-button-classes: true;

$base-button-config: null;


/*------------------------------------------------------------------------------ 

                                   CORE

------------------------------------------------------------------------------*/
//Default Classes
%button-normalize{
    //
    // 1. Correct font family not being inherited in all browsers.
    // 2. Correct font size not being inherited in all browsers.
    // 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
    //

    font-family: inherit; // 1
    font-size: 100%; // 2
    margin: 0; // 3

    //
    // Address Firefox 4+ setting `line-height` on `input` using `!important` in
    // the UA stylesheet.
    //
    line-height: normal;

    //
    // Address inconsistent `text-transform` inheritance for `button` and `select`.
    // All other form control elements do not inherit `text-transform` values.
    // Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
    //
    text-transform: none;

    //
    // 1. Correct inability to style clickable `input` types in iOS.
    // 2. Improve usability and consistency of cursor style between image-type
    //    `input` and others.
    //
    -webkit-appearance: button; // 2
    cursor: pointer; // 3

    //
    // Re-set default cursor for disabled elements.
    //
    button[disabled] {
        cursor: default;
    }

    //
    // Remove inner padding and border in Firefox 4+.
    //
    button::-moz-focus-inner{
        border: 0;
        padding: 0;
    }

    //
    // Remove border.
    //
    border: none;
}

@if $include-button-classes{
    .button{
        @extend %button-normalize;
        @include style($base-button-config);
    }
    /*.small-button, .medium-button, .large-button{
        @extend .button;
    }
    .small-button{@include style($small-button-config);}
    .medium-button{@include style($medium-button-config);}
    .large-button{@include style($large-button-config);}*/
}

//Mixins
@mixin button-size($size){
    $size: unquote('%'+ $size +'-button');
    @extend #{$size};
}
@mixin button-style($style){
    @include use-style($style);
}
@mixin button($button){
    @include use-style($button);
}
/*------------------------------------------------------------------------------ 

                            CUSTOM BUTTON STYLES

------------------------------------------------------------------------------*/

//Button Sizes
%tiny-button{
    //NO Styles
}

%small-button{
    padding: 0 14px;
    font-size: 12px;
    @include height(21px);
}

%medium-button{
    padding: 0 32px;
    font-size: 15px;
    @include height(27px);
}

%large-button{
    //No Styles
}

%jumbo-button{
    //No Styles
}


//Button Styles
%cart-button{
    @include button-size(small);
    @include use-style(orange-font-white-gradient);
    @include use-style(round-15px);
    font:{family:"Museo-700"; size: 11px;}
    //@include font($class: "Museo-Regular-700",$size: 11px);
    text-transform: uppercase;
     border: 1px solid color(medium-gray);
}