.debug-black{background-color: black !important;}
.debug-green{background-color: green !important;}
.debug-blue{background-color: blue !important;}
.debug-yellow{background-color: yellow !important;}
.debug-red{background-color: red !important;}