// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

/*$padding-base-vertical:          0;
$padding-base-horizontal:        0 ;

$padding-large-vertical:         10px ;
$padding-large-horizontal:       16px ;

$padding-small-vertical:         5px ;
$padding-small-horizontal:       10px ;

$component-active-bg:            $light-gray;

$caret-width-base:               4px ;
$caret-width-large:              5px;

$component-font-size: emCalc(12);*/