/*
Used in
    -catalog/products/list/related.phtml
    -checkout/cart/cartheader.phtml
    -checkout/cart/sidebar.phtml
    -wishlist/sidebar.phtml
*/

//Generic Product Styles
//Styled as per Category-View Page
.product{

    .product-name{font: 700 12px "Arial";  text-align: left; }

    .availability-status{
        text-transform: none;
        font-size: 12px;
        font-weight: 700;
        
        &.in-stock{ color: $success-color;}
        &.out-of-stock{color: $alert-color;}
    }

    .price-tag{ 
         font: 400 12px Arial; 
         text-align: left;
         .price-label{font-weight: 400; padding-left: 0;}
     }

     
     .cart-button{
            width: 103px;
            height: 21px;
            font-size: 11px;
     }

     .add-to-actions{
            margin-top: 10px;
            .link{ vertical-align: top;}
            .button{vertical-align: top}
            .nav-pill{ text-align: left;}
            
     }
    .add-to-cart{@include establish-height($height: 28px, $line-height: 26px, $child-height: auto); margin-bottom: 5px;}
}

.product-list {

        /*list-style-type: none;*/

                    .product{
                            text-align: center;
                            padding: 0;

                            /*@include inline-block();*/
                            //vertical-align: top;
                            .product-name .link{text-decoration: underline;}
                    }


        &.grid-view{

                    padding-left: 20px;

                    .product{

                            width: 164px;
                            height: 329px;
                            margin: 0 19px 0 0;
                            .price-tag{margin-top: 4px;}
                    }

                    

        }

        &.list-view{

            .product{

                    border-bottom: 1px dotted $medium-gray;
                    margin-bottom: 20px;
                    
                    .short-description{
                        font-size: 12px;
                        text-align: left;
                    }
                    .price-tag{margin-bottom: 10px;}
            }
        }

        &.related-product-list{

                .product{
                        margin-right: 8px;
                        width: 283px;

                        .checkbox{vertical-align: top; display: inline-block; margin: 0}

                        .product-name{ 
                            .link{font-size: 12px; font-weight: 700;}
                            margin: 0 0 11px 0;
                        }

                        .product-name, .price-tag, .add-to-wish-link{margin-left: 5px} 
                        .price-tag{font-size: 11px; margin-bottom: 11px;}
                        .add-to-wish-link{display: block; text-align: left}

                }

        }



}




.product-view{

    border-left: 1px solid $medium-gray; 
    border-right: 1px solid $medium-gray; 

   .product-sku{display: none;}
   .product-name{font-size: 22px; color: $orange; font-weight: normal;}

    .product-shop{
        @include background-image(linear-gradient($white,darken($light-gray,2%)));
        border-bottom: 1px solid $medium-gray; 
        padding: 20px 30px 5px 30px;

    }
    .product-images{
            text-align:center;  
           padding-top: 30px;
            #image{width: 370px; height: 370px;}
    }

    .right-col-content{ border-left: 1px solid $medium-gray; padding-bottom :30px; }

    .availability-status{margin: 10px 0;}

    
        .price-tag{
            font-size: 14px;
            font-weight: 700;
            
        }

   .grouped-items-table{

        width: 414px;
        height: 174px;
        border: 1px solid $medium-gray;
        .table-heading{
            padding: 0 12px; 
            height: 15px;
            font-size: 11px; 
            text-transform: uppercase; 
            color: $dark-gray; 
            font-weight: 400; 
            
            @include background-image(linear-gradient($white 0%,darken($light-gray,12%)));
        }

        .table-heading.product-name{width: 205px; text-align: left;}
        .table-heading.price{width: 149px; text-align: right;}
        .table-heading.qty{width: 50px;}

        .table-data{
            font-size: 11px;
            font-weight: 400;

        }
        
        .table-data.product-name{
            width: 169px;
            height: 39px;
            color: $dark-gray;
            padding-left: 12px;
        }

        .table-data .price-tag{text-align: right;}

        .table-data.qty{ text-align: center;}
        .table-data .input-text{
            width: 34px;
            height: 19px;
           
            display: inline-block;
            
        }

        tr:nth-child(even){background-color: $light-gray;}
        tr:nth-child(odd){background-color: $white;}
        tr{padding-left: 12px;}
    }

    .product-attribute-specs-table{

        width: 362px;
        height: 109px;
        margin: 0 auto;

        border: 1px solid $medium-gray;

        .table-heading, .table-data{color: $dark-gray; font-size: 12px; font-weight: 700; text-align: left;}

        .table-data{font-weight: 400; width: 231px; padding-left: 12px;}
        .table-data:nth-child(odd){background-color: $light-gray;}

        .table-heading{width: 107px; padding-left: 12px; background-color: darken($light-gray, 1%);  }

        tr:not(:last-child){border-bottom: 1px solid $white;}
    }

    .cart-button{
         @include background-image(linear-gradient($orange-yellow , $orange));
         border: 0;
        width: 143px;
        height: 27px;
        font-size: 15px;
        font-weight: 700;
        color: $white;
        text-transform: none;

    }

    .add-to-actions{
            padding: 30px 30px 0 30px;;
            .add-to-wish-link, .add-to-compare-link{display: block; }
            
            .input-qty{width: 34px; height: 19px; margin-right: 8px;}

            .label, .input-qty, .cart-button{display: inline-block;}
            
            .label{font-weight: 700; color: $dark-gray; text-transform: none; margin-right: 5px;}
    }

    .short-description{display: none;}

    .product-info-tabs{margin-top: 30px;}

    .email-to-friend{padding: 20px 0 0 10px; .icon{width: 6px; height: 8px; margin-top: 3px; margin-right: 5px;} }

    .product-tags,
    .similar-products{

        .heading{
            color: $navy-blue; 
            font-size: 14px;
            @include background-image(linear-gradient($light-gray 50%, lighten($medium-gray, 10%) 50%)); 
            height: 27px; 
            line-height: 27px;
            padding-left: 20px;
            border-top: 1px solid $medium-gray;
            border-bottom: 1px solid $medium-gray;
            margin: 0;
        }

    }
    .product-tags{



       .input-helper-text{font-size: 11px;}

       .add-tag-form{
            @include establish-height($line-height:5px, $height: 55px, $v-align:middle, $child-height: 100%, $child-content-v-align: middle);
            padding: 20px;
            .label{float: right; margin-right: 15px; color: $dark-gray; text-transform: none; font-weight: 700;}
            .label, .add-tag-button{ @include establish-height($line-height: 20px, $height: 20px)}
            .add-tag-button{width: 84px; margin: 1px 0 0 10px; }
            .input-helper-text{margin-top: 5px;}

            .col:first-child{max-width: 100px;}
            .col:nth-child(2){min-width: 308px;}
        }

    }

   


}